@model WebApplication_API.Models.Color

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieneError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieneError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Error)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.iden">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
